<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>펜타시큐리티_이은수</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex justify-center items-center">
<div class="max-w-md p-6 rounded-lg shadow-lg space-y-4 h">
    <h2 class="text-cl font-bold text-center">펜타시큐리티 이은수</h2>
    <input id="email" type="email" placeholder="이메일" class="w-full p-3 border rounded">
    <input id="password" type="password" placeholder="비밀번호" class="w-full p-3 border rounded">
    <input id="confirmPassword" type="password" placeholder="비밀번호 확인" class="w-full p-3 border rounded">

    <button onclick="onClickSignUp()" class="w-full bg-black text-white p-3 rounded hover:bg-gray-800" >가입하기</button>
</div>

<script>


   function onClickSignUp(){

   }
</script>
</body>
</html>
